.nav-link:not(.active) {
  color:rgb(25, 25, 112);
}
header { 
  background-color: grey;

}
title {
  text-align: center;
  
}


.nav-link.active {
  font-weight: bold;
}

.only-if-logged-in, .only-if-not-logged-in {
  display: none;
}

p {
  margin-top: -0.7rem;
}

h3, h4, h5 {
  margin-bottom: 1rem;
  text-align: center;

}

table {
  border-bottom: 1px solid #ddd;
}