
body {
  background-color: white;
}

h1 {
  color: orange;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
/* begin: jQuery UI Datepicker moving pixels fix */
table.ui-datepicker-calendar {
  border-collapse: separate;
}
.ui-datepicker-calendar td {
  border: 1px solid transparent;
}
/* end: jQuery UI Datepicker moving pixels fix */

/* begin: jQuery UI Datepicker emphasis on selected dates */
.ui-datepicker .ui-datepicker-calendar .ui-state-highlight a {
  background: #743620 none;
  /* a color that fits the widget theme */
  color: white;
  /* a color that is readeable with the color above */
}
div.ui-datepicker {
  font-size:9px;
}
[type=number] {
  width: 3em;
}